.comment {
    margin-top: 15px;

    padding: 10px;

    display: flex;
    align-items: center;
    gap: 20px;

    background-color: #d4d4d4;
    border-radius: 4px;
}
.comment__user-info {
    width: 40px;
    height: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.comment__user-img {
    width: 100%;
    height: 40px;

    object-fit: contain;
}

.comment__user-name {
    font-size: 12px;
    font-weight: 500;
}
.comment__text {
    font-size: 14px;
}
